*{margin:0;padding:0;}
html, body{height:100%;}
body {
	font-family: 'Play', sans-serif;font-size:32pt;color:#fff;
	background-image:url(../images/background.jpg);background-size:cover;
	padding:15px;
}

#loginbar{}

.menurow{height:30%;}
.menu_item_big{width:15%;margin-right:1%;height:100%;float:left;border:2px solid white;opacity:0.5;background-color:#fff;}